<!-- ======= Header ======= -->
<header id="header">
  <div class="container">
    <div class="top">
      <a  routerLink="../home"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>      
        <span class="toolbar-spacer"></span> 
        
        <button mat-button routerLink="../auth/login" class="header-auth">LOG OUT</button>
        <button mat-button routerLink="../doctors" class="header-auth">Meet A Doctor</button>     
     
    </div>
  </div>
    
  </header>
  <!-- End Header -->
   
  <main id="main">
    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container">

        <div class="section-title">
          <h2>Recent History</h2>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="icon-box">
              <h4><a href="">Date: 10th August</a></h4>
              <p>Symptoms : Fever, Headache , Diarrhoea , Fatigue, Vomitting, General Body Pains</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
            <div class="icon-box">
                <h4><a href="">Date: 12th September</a></h4>
                <p>Symptoms : Fever, Headache , Diarrhoea , Fatigue, Vomitting, General Body Pains</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
            <div class="icon-box">
                <h4><a href="">Date: 5th October</a></h4>
                <p>Symptoms : Fever, Headache , Diarrhoea , Fatigue, Vomitting, General Body Pains</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
            <div class="icon-box">
                <h4><a href="">Date: 16th October</a></h4>
                <p>Symptoms : Fever, Headache , Diarrhoea , Fatigue, Vomitting, General Body Pains</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
            <div class="icon-box">
                <h4><a href="">Date: 30th October</a></h4>
                <p>Symptoms : Fever, Headache , Diarrhoea , Fatigue, Vomitting, General Body Pains</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
            <div class="icon-box">
                <h4><a href="">Date: 21st December</a></h4>
                <p>Symptoms : Fever, Headache , Diarrhoea , Fatigue, Vomitting, General Body Pains</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->

    
  </main><!-- End #main -->

  <!--<div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a> -->
